body
{
	font-family: arial;
}


.container 
{
	padding: 20px;
	text-align: center;
}

.grid-row
{
	display: inline-block;
}

.grid-square
{
	height: 18px;
	width: 18px;
	border: 1px solid black;
}

.active-square
{
	background-color: black;
}